body {
  font-size: 21px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.top  {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:8rem;
}

.theNav {
  width: 65%;
}
.theAddTask {
  width: 35%;
}


.nav {
  margin: 0 auto;
  width: 50%;

  background: #14336b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  list-style: none;
}

.nav_item {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.nav_item:hover, .nav_item:focus {
  transform: scale(1.5);
}

.TodoList {
  width: 50%;
}
